window {
        background-color: #11111b;
    	border-radius: 10px;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: #11111b;
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding: 10px;
	margin: 10px
}

button:hover {
	background-color: #1e1e2e;
}
